.cursor/
node_modules/
**/.DS_Store
**/__pycache__/
desktop-helper/build/
desktop-helper/dist/
yandex-function/crl-checker/*.zip
Copilot-1CO-2.0/

.cursor/
**/.DS_Store
**/__pycache__/
**/*.pyc
desktop-helper/build/
desktop-helper/dist/
Copilot-1CO-2.0/
